<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="parameterInfo" type="XmlNormalizer.GeneralSectionConfigHandler, XmlNormalizer"/>
    <section name="fileTypes" type="XmlNormalizer.FileTypeSectionConfigHandler, XmlNormalizer"/>
  </configSections>

  <appSettings />

  <parameterInfo>
    <parameters min="4" max="4">
      <parameterDescriptor index="0" type="System.String" name="inputFile" isInputFile="true"/>
      <parameterDescriptor index="1" type="System.String" name="encoding"/>
      <parameterDescriptor index="2" type="System.String" name="usage"/>
      <parameterDescriptor index="3" type="System.String" name="configFile" isFile="true"/>
    </parameters>
  </parameterInfo>

  <fileTypes>
 
    <!-- description of the file type: file extensions, list of eligible document types -->
    <fileType index="1" filter=".xml|.dita|.ditamap" docTypes="dita|ditacomponent|task|reference|concept|dictionary|map|topic|bookmap|glossary|parameter|emc_task">

      <!-- WhiteSpace normalization: this section specifies specifies how to remove whitespace: 
        - @regex defines the whitespace pattern 
        - @replace determines what each match is to be replaced with -->
      <textNodeWhitespace regex="\s+" replace=" "/>

      <!-- Exception cases: list of elements at or under which all nodes, including linebreak nodes, are written verbatim -->
      <xmlSpacePreserveScope>codeblock|pre|lines|screen|systemoutput|userinput|msgblock</xmlSpacePreserveScope>

    </fileType>
 
  </fileTypes>

</configuration>


