<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="parameterInfo" type="XmlManipulator.ParameterSectionConfigHandler, XmlManipulator"/>
    <section name="updateInfo" type="XmlManipulator.UpdateInfoSectionConfigHandler, XmlManipulator"/>
    <section name="scopeInfo" type="XmlManipulator.ScopeInfoSectionConfigHandler, XmlManipulator"/>
    <section name="entityInfo" type="XmlManipulator.EntityInfoSectionConfigHandler, XmlManipulator"/>
  </configSections>
  
  <appSettings>
    <add key="sdltmsRegKey" value="SOFTWARE\SDL\SDLTMS"/>
    <add key="sdltmsRegValue" value="SqlClientConnection"/>
    <add key="brokerProgID" value="SDLBrokerDbHelper.cBkDbHelper"/>
    <add key="brokerUpdateFileNameMethod" value="UpdateFileName"/>
  </appSettings>
  
  <parameterInfo>
    <parameters min="6" max="6">
      <parameterDescriptor index="0" type="System.String" name="inputFile" isInputFile="true"/>
      <parameterDescriptor index="1" type="System.String" name="tmsTargetLocale"/>
      <parameterDescriptor index="2" type="System.String" name="usage"/>
      <parameterDescriptor index="3" type="System.String" name="runMode"/>
      <parameterDescriptor index="4" type="System.String" name="configFile" isFile="true"/>
      <parameterDescriptor index="5" type="System.String" name="baseAssembly" isFile="true"/>
    </parameters>
  </parameterInfo>
  
  <updateInfo>
    <!-- EMC DITA XML -->
    <fileType filter="dita|xml|ditamap" type="/glossentry|/dita|/ditacomponent|/task|/reference|/concept|/dictionary|/map|/topic|/bookmap|/glossary|/parameter|/emc_task" whitespace="preserve">
      
      <!-- Create child element under <indexterm>, with same content as <indexterm> prefixed with [!!!] -->
      <transform index="1">
        <usage>add</usage>
        <type>XmlTransformation.Add</type>
        <assembly>XmlTransformation.dll</assembly>
        <search>//indexterm[text()]</search>
        <action>
          <object method="xpath">.</object>
          <with nodeType="Element">index-sort-as</with>
          <extra method="xpath" value="./text()" prefix="[!!!]" postfix="" whitespace="delete"/>
        </action>
      </transform>

      <!-- Copy text node under glossentry/glossterm to <gloss-sort-as> child appended to <glossentry> -->
      <transform index="2">
        <usage>add_text</usage>
        <type>XmlTransformation.Copy</type>
        <assembly>XmlTransformation.dll</assembly>
        <search>//glossentry/glossterm[text()]/text()</search>
        <action>
          <object method="xpath">.</object>
          <with nodeType="Element">../../gloss-sort-as</with>
        </action>
      </transform>

      <!-- Copy all <term> elements (under glossentry/glossterm) to <gloss-sort-as> child appended to <glossentry> -->
      <transform index="3">
        <usage>copy_term</usage>
        <type>XmlTransformation.Copy</type>
        <assembly>XmlTransformation.dll</assembly>
        <search>//glossentry/glossterm[term]</search>
        <action>
          <object method="xpath">term</object>
          <with nodeType="Element">../gloss-sort-as</with>
        </action>
      </transform>

      <!-- Rename new <term> (under glossentry/gloss-sort-as) elements to <ph> -->
      <transform index="4">
        <usage>rename_term</usage>
        <type>XmlTransformation.Rename</type>
        <assembly>XmlTransformation.dll</assembly>
        <search>//glossentry/gloss-sort-as/term</search>
        <action>
          <object method="xml">Name</object>
          <with>ph</with>
          <extra />
        </action>
      </transform>

      <!-- prepend <ph> text child node with [***] -->
      <transform index="5">
        <usage>update_ph</usage>
        <type>XmlTransformation.Update</type>
        <assembly>XmlTransformation.dll</assembly>
        <search>//glossentry/gloss-sort-as/ph[text()]|//glossentry/gloss-sort-as[text()]</search>
        <action>
          <object method="xml">InnerText</object>
          <with nodeType="Text" />
          <extra method="text" value="" prefix="[***] " location="prepend"/>
        </action>
      </transform>

    </fileType>
    <!-- END of EMC DITA XML -->

  </updateInfo>

  <scopeInfo>
    <language tms="JA"    scope="add|add_text|copy_term|rename_term|update_ph"/>
  </scopeInfo>

  <entityInfo />

</configuration>
